--
-- PostgreSQL database dump
--

\restrict MTx8Qmwa54pJkSd1gTsCWRIelI9ggfaC4DXjQP22ecBGLEL0gBvcOoZDCY9cXxK

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.chat_messages (
    id integer NOT NULL,
    sender_id integer NOT NULL,
    receiver_id integer NOT NULL,
    message text NOT NULL,
    is_read character(1) DEFAULT 'N'::bpchar,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.chat_messages OWNER TO root;

--
-- Name: chat_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.chat_messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.chat_messages_id_seq OWNER TO root;

--
-- Name: chat_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.chat_messages_id_seq OWNED BY public.chat_messages.id;


--
-- Name: cliente_projeto; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.cliente_projeto (
    id integer NOT NULL,
    cliente_id integer NOT NULL,
    projeto_id integer NOT NULL,
    data_atribuicao date
);


ALTER TABLE public.cliente_projeto OWNER TO root;

--
-- Name: cliente_projeto_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.cliente_projeto_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cliente_projeto_id_seq OWNER TO root;

--
-- Name: cliente_projeto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.cliente_projeto_id_seq OWNED BY public.cliente_projeto.id;


--
-- Name: company_doc_templates; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.company_doc_templates (
    id integer NOT NULL,
    company_template_id integer NOT NULL,
    document_name character varying(255) NOT NULL,
    is_required boolean DEFAULT false
);


ALTER TABLE public.company_doc_templates OWNER TO root;

--
-- Name: company_doc_templates_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.company_doc_templates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.company_doc_templates_id_seq OWNER TO root;

--
-- Name: company_doc_templates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.company_doc_templates_id_seq OWNED BY public.company_doc_templates.id;


--
-- Name: company_templates; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.company_templates (
    id integer NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.company_templates OWNER TO root;

--
-- Name: company_templates_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.company_templates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.company_templates_id_seq OWNER TO root;

--
-- Name: company_templates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.company_templates_id_seq OWNED BY public.company_templates.id;


--
-- Name: entrega; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.entrega (
    id integer NOT NULL,
    cliente_id integer NOT NULL,
    projeto_id integer NOT NULL,
    mes_referencia integer NOT NULL,
    ano_referencia integer NOT NULL,
    status character varying(50) DEFAULT 'pendente'::character varying,
    documentos_json text,
    consolidado character(1) DEFAULT '0'::bpchar,
    arquivo_consolidado character varying(255),
    data_entrega timestamp without time zone,
    data_aprovacao timestamp without time zone,
    aprovado_por integer,
    observacoes text,
    resumo_documentos text
);


ALTER TABLE public.entrega OWNER TO root;

--
-- Name: entrega_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.entrega_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.entrega_id_seq OWNER TO root;

--
-- Name: entrega_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.entrega_id_seq OWNED BY public.entrega.id;


--
-- Name: mensagem; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.mensagem (
    id integer NOT NULL,
    system_user_id integer NOT NULL,
    system_user_to_id integer NOT NULL,
    subject character varying(200),
    message text NOT NULL,
    dt_message timestamp without time zone,
    checked character(1) DEFAULT 'N'::bpchar
);


ALTER TABLE public.mensagem OWNER TO root;

--
-- Name: mensagem_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.mensagem_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mensagem_id_seq OWNER TO root;

--
-- Name: mensagem_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.mensagem_id_seq OWNED BY public.mensagem.id;


--
-- Name: notification; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.notification (
    id integer NOT NULL,
    system_user_id integer NOT NULL,
    type character varying(50),
    title character varying(200),
    message text NOT NULL,
    reference_type character varying(100),
    reference_id integer,
    action_url text,
    action_label character varying(50),
    icon character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    read_at timestamp without time zone
);


ALTER TABLE public.notification OWNER TO root;

--
-- Name: notification_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.notification_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notification_id_seq OWNER TO root;

--
-- Name: notification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.notification_id_seq OWNED BY public.notification.id;


--
-- Name: projeto; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.projeto (
    id integer NOT NULL,
    nome character varying(200) NOT NULL,
    descricao text,
    documentos_json text,
    dia_vencimento integer,
    ativo character(1) DEFAULT '1'::bpchar,
    company_template_id integer,
    is_template boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.projeto OWNER TO root;

--
-- Name: projeto_documento; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.projeto_documento (
    id integer NOT NULL,
    projeto_id integer NOT NULL,
    nome_documento character varying(255) NOT NULL,
    obrigatorio boolean DEFAULT false,
    content text,
    status character varying(50) DEFAULT 'pendente'::character varying
);


ALTER TABLE public.projeto_documento OWNER TO root;

--
-- Name: projeto_documento_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.projeto_documento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.projeto_documento_id_seq OWNER TO root;

--
-- Name: projeto_documento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.projeto_documento_id_seq OWNED BY public.projeto_documento.id;


--
-- Name: projeto_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.projeto_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.projeto_id_seq OWNER TO root;

--
-- Name: projeto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.projeto_id_seq OWNED BY public.projeto.id;


--
-- Name: system_notification; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.system_notification (
    id integer NOT NULL,
    system_user_id integer,
    system_user_to_id integer,
    title character varying(200),
    message text,
    dt_message timestamp without time zone,
    action_url text,
    action_label character varying(50),
    icon character varying(50),
    checked character(1) DEFAULT 'N'::bpchar
);


ALTER TABLE public.system_notification OWNER TO root;

--
-- Name: system_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.system_notification_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.system_notification_id_seq OWNER TO root;

--
-- Name: system_notification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.system_notification_id_seq OWNED BY public.system_notification.id;


--
-- Name: system_user_reset; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.system_user_reset (
    id integer NOT NULL,
    email character varying(200) NOT NULL,
    token character varying(200) NOT NULL,
    created_at timestamp without time zone,
    expires_at timestamp without time zone,
    used character(1) DEFAULT 'N'::bpchar
);


ALTER TABLE public.system_user_reset OWNER TO root;

--
-- Name: system_user_reset_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.system_user_reset_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.system_user_reset_id_seq OWNER TO root;

--
-- Name: system_user_reset_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.system_user_reset_id_seq OWNED BY public.system_user_reset.id;


--
-- Name: usuario; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.usuario (
    id integer NOT NULL,
    nome character varying(200) NOT NULL,
    email character varying(200),
    login character varying(100) NOT NULL,
    senha character varying(255) NOT NULL,
    tipo character varying(20) NOT NULL,
    ativo character(1) DEFAULT '1'::bpchar,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    gestor_id integer
);


ALTER TABLE public.usuario OWNER TO root;

--
-- Name: usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.usuario_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuario_id_seq OWNER TO root;

--
-- Name: usuario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.usuario_id_seq OWNED BY public.usuario.id;


--
-- Name: chat_messages id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.chat_messages ALTER COLUMN id SET DEFAULT nextval('public.chat_messages_id_seq'::regclass);


--
-- Name: cliente_projeto id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.cliente_projeto ALTER COLUMN id SET DEFAULT nextval('public.cliente_projeto_id_seq'::regclass);


--
-- Name: company_doc_templates id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.company_doc_templates ALTER COLUMN id SET DEFAULT nextval('public.company_doc_templates_id_seq'::regclass);


--
-- Name: company_templates id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.company_templates ALTER COLUMN id SET DEFAULT nextval('public.company_templates_id_seq'::regclass);


--
-- Name: entrega id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.entrega ALTER COLUMN id SET DEFAULT nextval('public.entrega_id_seq'::regclass);


--
-- Name: mensagem id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.mensagem ALTER COLUMN id SET DEFAULT nextval('public.mensagem_id_seq'::regclass);


--
-- Name: notification id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.notification ALTER COLUMN id SET DEFAULT nextval('public.notification_id_seq'::regclass);


--
-- Name: projeto id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.projeto ALTER COLUMN id SET DEFAULT nextval('public.projeto_id_seq'::regclass);


--
-- Name: projeto_documento id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.projeto_documento ALTER COLUMN id SET DEFAULT nextval('public.projeto_documento_id_seq'::regclass);


--
-- Name: system_notification id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.system_notification ALTER COLUMN id SET DEFAULT nextval('public.system_notification_id_seq'::regclass);


--
-- Name: system_user_reset id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.system_user_reset ALTER COLUMN id SET DEFAULT nextval('public.system_user_reset_id_seq'::regclass);


--
-- Name: usuario id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.usuario ALTER COLUMN id SET DEFAULT nextval('public.usuario_id_seq'::regclass);


--
-- Data for Name: chat_messages; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.chat_messages (id, sender_id, receiver_id, message, is_read, created_at) FROM stdin;
1	1	3	vhv	Y	2026-02-23 23:56:49
2	3	1	Boa noite!	Y	2026-02-24 21:14:24
3	3	1	Enviei os arquivos do projeto X.	Y	2026-02-24 21:14:35
4	1	3	Obrigado Thiago	N	2026-02-24 21:27:37
5	1	4	Olá	Y	2026-02-24 21:34:41
6	4	1	Enviei os documentos do projeto!	N	2026-02-24 21:41:23
\.


--
-- Data for Name: cliente_projeto; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.cliente_projeto (id, cliente_id, projeto_id, data_atribuicao) FROM stdin;
1	2	2	\N
2	3	3	\N
3	4	6	\N
4	5	7	\N
\.


--
-- Data for Name: company_doc_templates; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.company_doc_templates (id, company_template_id, document_name, is_required) FROM stdin;
\.


--
-- Data for Name: company_templates; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.company_templates (id, name) FROM stdin;
1	Recursos Humanos
\.


--
-- Data for Name: entrega; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: mensagem; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.mensagem (id, system_user_id, system_user_to_id, subject, message, dt_message, checked) FROM stdin;
\.


--
-- Data for Name: notification; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: projeto; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: projeto_documento; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.projeto_documento (id, projeto_id, nome_documento, obrigatorio, content, status) FROM stdin;
1	1	CPF	t	\N	pendente
2	1	Doc	t	\N	pendente
3	1	Imagem	t	\N	pendente
4	2	CPF	t	\N	pendente
5	2	Doc	t	\N	pendente
6	2	Imagem	t	\N	pendente
7	3	CPF	t	\N	pendente
8	3	Doc	t	\N	pendente
9	3	Imagem	t	\N	pendente
10	4	RG (Frente e Verso)	t	\N	pendente
11	4	CPF	t	\N	pendente
14	6	RG (Frente e Verso)	t	\N	pendente
15	6	CPF	t	\N	pendente
16	7	CPF	t	\N	pendente
17	7	Doc	t	\N	pendente
18	7	Imagem	t	\N	pendente
\.


--
-- Data for Name: system_notification; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: system_user_reset; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.system_user_reset (id, email, token, created_at, expires_at, used) FROM stdin;
\.


--
-- Data for Name: usuario; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Name: chat_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.chat_messages_id_seq', 6, true);


--
-- Name: cliente_projeto_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.cliente_projeto_id_seq', 1, false);


--
-- Name: company_doc_templates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.company_doc_templates_id_seq', 1, false);


--
-- Name: company_templates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.company_templates_id_seq', 1, false);


--
-- Name: entrega_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.entrega_id_seq', 1, false);


--
-- Name: mensagem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.mensagem_id_seq', 1, false);


--
-- Name: notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.notification_id_seq', 16, true);


--
-- Name: projeto_documento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.projeto_documento_id_seq', 1, false);


--
-- Name: projeto_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.projeto_id_seq', 1, false);


--
-- Name: system_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.system_notification_id_seq', 12, true);


--
-- Name: system_user_reset_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.system_user_reset_id_seq', 1, false);


--
-- Name: usuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.usuario_id_seq', 2, true);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: cliente_projeto cliente_projeto_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.cliente_projeto
    ADD CONSTRAINT cliente_projeto_pkey PRIMARY KEY (id);


--
-- Name: company_doc_templates company_doc_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.company_doc_templates
    ADD CONSTRAINT company_doc_templates_pkey PRIMARY KEY (id);


--
-- Name: company_templates company_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.company_templates
    ADD CONSTRAINT company_templates_pkey PRIMARY KEY (id);


--
-- Name: entrega entrega_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.entrega
    ADD CONSTRAINT entrega_pkey PRIMARY KEY (id);


--
-- Name: mensagem mensagem_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.mensagem
    ADD CONSTRAINT mensagem_pkey PRIMARY KEY (id);


--
-- Name: notification notification_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.notification
    ADD CONSTRAINT notification_pkey PRIMARY KEY (id);


--
-- Name: projeto_documento projeto_documento_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.projeto_documento
    ADD CONSTRAINT projeto_documento_pkey PRIMARY KEY (id);


--
-- Name: projeto projeto_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.projeto
    ADD CONSTRAINT projeto_pkey PRIMARY KEY (id);


--
-- Name: system_notification system_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.system_notification
    ADD CONSTRAINT system_notification_pkey PRIMARY KEY (id);


--
-- Name: system_user_reset system_user_reset_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.system_user_reset
    ADD CONSTRAINT system_user_reset_pkey PRIMARY KEY (id);


--
-- Name: usuario usuario_login_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_login_key UNIQUE (login);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (id);


--
-- Name: cliente_projeto cliente_projeto_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.cliente_projeto
    ADD CONSTRAINT cliente_projeto_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.usuario(id);


--
-- Name: cliente_projeto cliente_projeto_projeto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.cliente_projeto
    ADD CONSTRAINT cliente_projeto_projeto_id_fkey FOREIGN KEY (projeto_id) REFERENCES public.projeto(id);


--
-- Name: company_doc_templates company_doc_templates_company_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.company_doc_templates
    ADD CONSTRAINT company_doc_templates_company_template_id_fkey FOREIGN KEY (company_template_id) REFERENCES public.company_templates(id);


--
-- Name: entrega entrega_aprovado_por_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.entrega
    ADD CONSTRAINT entrega_aprovado_por_fkey FOREIGN KEY (aprovado_por) REFERENCES public.usuario(id);


--
-- Name: entrega entrega_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.entrega
    ADD CONSTRAINT entrega_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.usuario(id);


--
-- Name: entrega entrega_projeto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.entrega
    ADD CONSTRAINT entrega_projeto_id_fkey FOREIGN KEY (projeto_id) REFERENCES public.projeto(id);


--
-- Name: mensagem mensagem_system_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.mensagem
    ADD CONSTRAINT mensagem_system_user_id_fkey FOREIGN KEY (system_user_id) REFERENCES public.usuario(id);


--
-- Name: mensagem mensagem_system_user_to_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.mensagem
    ADD CONSTRAINT mensagem_system_user_to_id_fkey FOREIGN KEY (system_user_to_id) REFERENCES public.usuario(id);


--
-- Name: notification notification_system_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.notification
    ADD CONSTRAINT notification_system_user_id_fkey FOREIGN KEY (system_user_id) REFERENCES public.usuario(id);


--
-- Name: projeto projeto_company_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.projeto
    ADD CONSTRAINT projeto_company_template_id_fkey FOREIGN KEY (company_template_id) REFERENCES public.company_templates(id);


--
-- Name: projeto_documento projeto_documento_projeto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.projeto_documento
    ADD CONSTRAINT projeto_documento_projeto_id_fkey FOREIGN KEY (projeto_id) REFERENCES public.projeto(id);


--
-- Name: system_notification system_notification_system_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.system_notification
    ADD CONSTRAINT system_notification_system_user_id_fkey FOREIGN KEY (system_user_id) REFERENCES public.usuario(id);


--
-- Name: system_notification system_notification_system_user_to_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.system_notification
    ADD CONSTRAINT system_notification_system_user_to_id_fkey FOREIGN KEY (system_user_to_id) REFERENCES public.usuario(id);


--
-- Name: usuario usuario_gestor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_gestor_id_fkey FOREIGN KEY (gestor_id) REFERENCES public.usuario(id);


--
-- PostgreSQL database dump complete
--

\unrestrict MTx8Qmwa54pJkSd1gTsCWRIelI9ggfaC4DXjQP22ecBGLEL0gBvcOoZDCY9cXxK

